.signup-terms-condition {
  font-size: 14px;
  font-family: var(--font-adineue-pro);
  color: #5a5d82;

  > span {
    color: #3842b0;
    font-weight: bold;
    font-family: var(--font-adineue-pro);
  }
}
.pointer {
    cursor: pointer;
}